@model List<And.Eticaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Anında Al";
}

<h3>Son Eklenenler</h3>
@{ 
	foreach(var item in Model)
	{
		<div class="productBox">
			<p class="title">@item.Name</p>
			<img src="@item.ImageURL" />
			<p class="brand">@item.Brand</p>
			<p class="description">
			@item.Description
			</p>
			<p class="Fiyat">@item.Price.ToString("##.## ₺")</p>
			<a href="#" class="btn btn-success">İncele</a>
			<a href="#" class="btn btn-default"><i class="icon-next"></i>Sepete At</a>
		</div>
	}
}
<div class="row"></div>

<style>
		.productBox {
		width: 200px;
		height: 400px;
		float: left;
		margin: 10px;
		border: 2px solid #0094ff;
		padding: 10px;
		}	

		.productBox img {
		width: 100%;
		
		}

		.productBox title{
		font-weight: bold;
		text-align: center;

		}

		.productBox p{
		text-align:center;
		}



	
</style>

